<h4 align="center"><%= @user.username %>'s worktimes</h4>
<div class="center">
  <table>
    <tr><td>日付</td><td>総時間</td></tr>
    <%  @bydate.each do |datetime|  %>
      <tr>
        <td><%= datetime.date  %></td>

        <td><%= datetime.sum %></td>
      </tr>
  <% end %>
  </table>


</div>
