<h1>New Worktime</h1>

<%= button_to "online", {action: 'online'}, {method: :post, class: "btn btn-primary btn-lg btn-block", data: {confirm: "Are you sure?"}} %>
<%= button_to "offline", {action: 'offline'}, {method: :post, class: "btn btn-secondary btn-lg btn-block",data:{confirm: "Are you sure?"}} %>
<%= link_to 'Back', worktimes_path %>
